<ion-header>
  <ion-toolbar class="new-background">
      <ion-buttons slot="start"  class="white">
        <ion-back-button defaultHref="inicio"></ion-back-button>
      </ion-buttons>
    <ion-title class="white">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div class="center padding-top-10">
    <img src="assets/usuario.png">
    <div><ion-label>{{email}}</ion-label></div>
  </div>
    
  <div class="padding-top-20">
    <ion-item>
      <ion-label class="fontt">Nombre</ion-label>
      <ion-input class="right" [(ngModel)]="nombreM" type="text" value="{{nombre}}"></ion-input>
    </ion-item>

    <ion-item class="padding-top-5">
      <ion-label class="fontt">Teléfono</ion-label>
      <ion-input class="right" [(ngModel)]="telefonoM" value="{{telefono}}"></ion-input>
    </ion-item>

    <ion-item class="padding-top-5">
        <ion-label class="fontt">Sexo</ion-label>
        <ion-input class="right" readonly value={{sexo}}></ion-input>
    </ion-item>

    <ion-item class="padding-top-5">
        <ion-label class="fontt">Tipo de diabetes</ion-label>
        <ion-input class="right" readonly value={{tipoDiabetes}}></ion-input>
    </ion-item>

    <ion-item class="padding-top-5">
        <ion-label class="fontt">Fecha de Nacimiento</ion-label>
        <ion-input class="right" readonly value={{fecha_nac}}></ion-input>

    </ion-item>

    <ion-item class="padding-top-5">
      <ion-label class="fontt">Peso (Kg)</ion-label>
      <ion-input type="decimal" class="right" readonly value="{{ultimoPeso}} Kg"></ion-input>
    </ion-item>

    <ion-item class="padding-top-5">
      <ion-label class="fontt">Estatura (Mts)</ion-label>
      <ion-input type="decimal" [(ngModel)]="estaturaM" class="right" value="{{estatura}}"></ion-input>
    </ion-item>
  </div>

    <div class="padding-top-30 center">
      <ion-button class="new-background" (click)="verificar()">Actualizar</ion-button>
    </div>
</ion-content>
