.new-background{
  --background: rgb(199, 28, 57);
}
.white {
  color: #FFFCF2
}
.bold {
  font-weight: 700
}
.fontt {
  font-size: 18px;
}
.center {
  text-align: center
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}