<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="white">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="white">Peso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="center padding-top-10">
    <ion-item routerLink="/add-peso">
      <div class="bold padding-left-40">Control de mi peso</div>
      <ion-icon name="add-circle" slot="end"></ion-icon>
    </ion-item>
  </div>

  <div class="padding-top-20">

    <div class="no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="peCol colGris no-padding center">Peso</div>
          </ion-col>
          <ion-col>
            <div class="diaCol colGris no-padding center">Día</div>
          </ion-col>
          <ion-col>
            <div class="horaCol colGris no-padding center">Hora</div>
          </ion-col>
          
        </ion-row>
        <ion-row *ngFor="let peso of pesos">
          <ion-col>
            <div class="peCol">{{peso.peso}} kg</div>
          </ion-col>
          <ion-col>
            <div class="diaCol">{{peso.fecha}}</div>
          </ion-col>
          <ion-col>
            <div class="horaCol">{{peso.hora}}</div>
            <ion-row>
              <ion-button (click)="eliminar( peso )" size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
              <ion-button (click)="actualizar( peso )" size="small" color="primary">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="padding-top-100 padding center">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="no-padding center">Máximo</div>
          </ion-col>
          <ion-col>
            <div class="no-padding center">Promedio</div>
          </ion-col>
          <ion-col>
            <div class="no-padding center">Bajo</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="Col acol center padding-left">{{pesoMax}} Kg</div>
          </ion-col>
          <ion-col>
            <div class="Col pcol center">{{pesoProm}} Kg</div>
          </ion-col>
          <ion-col>
            <div class="Col bcol center">{{pesoMin}} Kg</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>