<ion-header>
  <ion-toolbar class="new-background">
      <ion-buttons slot="start"  class="white">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="white">Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div class="center padding-top-30">
    <div class="bold">Noticias: Salud</div>
  </div>
  <div class="blackText padding-top-10">
    <ion-card *ngFor="let articulo of data" href="{{articulo.url}}">
      <img [src]="articulo.urlToImage" />
      <ion-card-header>
        <ion-card-title> {{articulo.title}} </ion-card-title>
        <ion-card-subtitle> {{articulo.source.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{articulo.description}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>