<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="white">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="white">Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center padding-top-10">
    <div class="bold">Noticias: Salud</div>
  </div>
  <!-- <div class="padding-top-50">
    <ion-list>
      <ion-item *ngFor="let noticia of noticias">
        <h2>{{noticia.title}}</h2>
        <p>{{noticia.pubDate}}</p>
        <ion-item>{{noticia.link}}</ion-item>
        <ion-item>{{noticia.description}}</ion-item>
        <ion-item>{{noticia.content}}</ion-item>
      </ion-item>
    </ion-list>
  </div> -->

</ion-content>