  .new-background{
    --background: rgb(199, 28, 57);
  }
  .icono {
    text-align: left;
    width: 30%;
  }
  .icono1 {
    text-align: left;
    width: 80%;
  }
  .white {
    color: #FFFCF2
  }
  .bold {
    font-weight: 700
  }
  .fontt {
    font-size: 25px;
  }
  .bold {
    font-weight: 700
  }
  .light {
    font-weight: 300
  }
  .left {
    text-align: left
  }
  .right {
    text-align: right
  }
  .center {
    text-align: center
  }
  .no-padding {
    padding: 0px;
  }
  .padding-top-5 {
    padding-top: 5px;
  }
  .padding-top-10 {
    padding-top: 10px;
  }
  .padding-top-20 {
    padding-top: 20px;
  }
  .padding-top-30 {
    padding-top: 30px;
  }
  .padding-left-40 {
    padding-left: 40px;
  }
  .padding-top-100 {
    padding-top: 100px;
  }
  .padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .mgl-30 {
    margin-left: 30px;
    margin-right: 30px;
  }
    //columnas tabla
    .aCol{
      min-width: 130px;
      max-width: 150px;
    }
    .bCol{
      min-width: 50px;
      max-width: 80px;
      text-align: right;
    }
    .cCol{
      min-width: 20px;
      max-width: 30px;
      text-align: left;
    }
    .dCol{
      min-width: 110px;
      max-width: 120px;
      text-align: left;
    }
    .colGris{
      background-color: rgb(196, 196, 196);
      border-radius: 10%;
    }
    