<ion-header>
  <ion-toolbar class="new-background">
      <ion-buttons slot="start"  class="white">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="white">Recordatorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center padding-top-10">
    <ion-item routerLink="/add-recordatorio">
      <div class="bold padding-left-40">Mis recordatorios</div>
      <ion-icon name="add-circle" slot="end"></ion-icon>
    </ion-item>
  </div>

  <div class="padding-top-20">

      <div class="padding">
        <ion-grid class="colGris">
          <ion-row>
            <ion-col>
              <div class="fontt bold no-padding aCol">8:00 am</div>
              <div class="no-padding"></div>
            </ion-col>
            <ion-col>
              <div class="no-padding bCol"><ion-icon name="trash" style="zoom:2.0;"></ion-icon></div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <div class="no-padding center cCol"><img src="assets/medicamentos.png" class="icono1"></div>
              </ion-col>
              <ion-col>
                  <div class="no-padding dCol">Recordatorio de medicinas</div>
                </ion-col>
              <ion-col>
                
              </ion-col>
            </ion-row>
        </ion-grid>
      </div>
    </div>
</ion-content>
