<ion-header>
  <ion-toolbar class="new-background">
      <ion-buttons slot="start"  class="white">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="white">Recordatorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center padding-top-10">
    <ion-item routerLink="/add-recordatorio">
      <div class="bold padding-left-40">Mis recordatorios</div>
      <ion-icon name="add-circle" slot="end"></ion-icon>
    </ion-item>
  </div>

</ion-content>
