<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="white">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="white">Presión arterial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center padding-top-10">
    <ion-item routerLink="/add-presion">
      <div class="bold padding-left-40">Presión arterial</div>
      <ion-icon name="add-circle" slot="end"></ion-icon>
    </ion-item>
  </div>

  <div class="padding-top-20">

    <div class="no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="siCol colGris no-padding center">Sistólica</div>
          </ion-col>
          <ion-col>
            <div class="diCol colGris no-padding center">Diastólica</div>
          </ion-col>
          <ion-col>
            <div class="pulCol colGris no-padding center">Pulso</div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let presion of presiones">
            <ion-col>
              <div class="siCol">{{presion.sistolica}}
              </div>
            </ion-col>
            <ion-col>
              <div class="diCol"> {{presion.diastolica}} </div>
            </ion-col>
            <ion-col>
              <div class="pulCol"> {{presion.pulso}} </div>
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>