<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="white">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="white">Presión arterial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div class="center padding-top-10">
    <ion-item routerLink="/add-presion">
      <div class="bold padding-left-40">Presión arterial</div>
      <ion-icon name="add-circle" slot="end"></ion-icon>
    </ion-item>
  </div>

  <div class="padding-top-20">

    <div class="no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="siCol colGris no-padding center">Sistólica</div>
          </ion-col>
          <ion-col>
            <div class="diCol colGris no-padding center">Diastólica</div>
          </ion-col>
          <ion-col>
            <div class="pulCol colGris no-padding center">Pulso</div>
          </ion-col>
          
        </ion-row>
        <ion-row *ngFor="let presion of presiones">
            <ion-col>
              <div class="siCol">{{presion.sistolica}} mmHg
              </div>
            </ion-col>
            <ion-col>
              <div class="diCol"> {{presion.diastolica}} mmHg </div>
            </ion-col>
            <ion-col>
              <div class="pulCol"> {{presion.pulso}} lpm</div>
              <ion-row>
                <ion-button (click)="eliminar( presion )" size="small" color="danger">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
                <ion-button (click)="actualizar( presion )" size="small" color="primary">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
              </ion-row>  
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>