<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="white">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="white">Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item color="rose" style="margin-bottom: 2%;">
    <div class="center padding-top-10">
        <ion-label>Pollo con almendras</ion-label>
    </div>
  </ion-item>
  <ion-grid class="colGris" >
      <div><ion-icon name="md-time" style="zoom:1.5"></ion-icon>
        <label> 1 hr 15 min | 4 porciones</label></div>
  </ion-grid>

  <div><img src="assets/pd.png"></div>

  <ion-grid class="colRojo" >
      <ion-grid class="colRojo" >
  
      <div> <label> Ingredientes:</label></div>
    </ion-grid>
  </ion-grid>

  <ion-grid class="colRojo">
      <ion-grid class="colRojo">
      <ion-grid class="colRojo">
          <ion-grid class="colRojo">

      <div><label> 1/4 pieza de cebolla blanca  
          pimienta negra molida al gusto  
          3/4 taza de almendra  
          1 cucharada de aceite de oliva  
          1 pieza de chile ancho  
          sal al gusto  
          1 diente de ajo  
          2 piezas de jitomate guaje  
          6 piezas de pierna de pollo  </label></div>
        </ion-grid>
        </ion-grid>
</ion-grid>
</ion-grid>

</ion-content>