<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="white">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="white">Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center padding-top-10">
    <ion-item color="rose" style="margin-bottom: 2%;">
      <ion-icon ios="ios-time" md="md-time"></ion-icon>
      <ion-label class="fontt">
        <ion-icon ios="ios-time" md="md-time"></ion-icon>1 hr 15 min | 4 porciones
      </ion-label>
    </ion-item>
    <ion-label class="fontt">Ingredientes</ion-label>
    <ion-label class="fontt">Procedimiento</ion-label>
  </div>


</ion-content>