<ion-content>
  <div class="ion-padding">
   <div class="center">
    <div class="center padding-top-30">
      <img src="assets/diabeTec.png" class="logo">
    </div>

    <div class="padding padding-top-30">
      <ion-item>
          <ion-label position="stacked" class="fontt bold">Correo electrónico</ion-label>
          <ion-input [(ngModel)]="correo" type="email"></ion-input>
      </ion-item>
      <ion-item class="padding-top-10">
        <ion-label position="stacked" class="fontt bold">Contraseña</ion-label>
        <ion-input [(ngModel)]="contra" type="password"></ion-input>
      </ion-item>
    </div>   
    <div>
      <ion-checkbox class="left padding-left"  style="margin-top: 2%; padding-left:2px; padding-right:2px; padding-top:4px;"></ion-checkbox>
      <ion-label class="fontv"> Recordarme</ion-label>
      <ion-label class="right padding-left fontv"> ¿Olvidé mi contraseña?</ion-label>
    </div>
    <div class="padding-top-30 center fontv">
      <ion-button expand="block" class="new-background-color bold">Ingresar</ion-button>
    </div>

    <div class="padding-top-10">
      <ion-label routerLink="/registro" class="fontl">¿No tienes una cuenta?</ion-label>
    </div>
  </div> 
  </div>
</ion-content>