  .new-background {
    --background: rgb(199, 28, 57);
  }
  .new-background-color {
    --background: #A6ACAF;
    --background-hover: #A6ACAF;
  }
  .white {
    color: #FFFCF2
  }

  .f-color{
    --color: #565858;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .bold {
    font-weight: 550
  }
  .light {
    font-weight: 300
  }
  //Padding
  .padding-top-5 {
    padding-top: 5px;
  }
  .padding-top-10 {
    padding-top: 10px;
  }
  .padding-top-20 {
    padding-top: 20px;
  }
  .padding-top-30 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px; 
  }
  .padding-top-40 {
    padding-top: 40px;
  }
  .padding-top-60 {
    padding-top: 60px;
  }
  .no-padding {
    padding: 0px;
  }
  .no-padding-top {
    padding-top: 0px;
  }
  .padding-left-40 {
    padding-left: 40px;
  }
  .fontt {
    font-size: 14px;
  }
  //columnas tabla
  .medCol{
    min-width: 110px;
    max-width: 120px;
    padding: 5px;
  }
  .dosisCol{
    min-width: 60px;
    max-width: 90px;
    padding: 5px;
  }
  .horaCol{
    min-width: 60px;
    max-width: 70px;
    padding: 5px;
  }
  .colGris{
    background-color: rgb(196, 196, 196);
    border-radius: 30%;
    padding: 5px;
  }
  
