<ion-header>
  <ion-toolbar class="new-background">
      <ion-buttons slot="start"  class="white">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="white">Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
   <div class="center padding-top-10">
        <ion-item color="rose" style="margin-bottom: 2%;">
        <div><ion-label>Mis ajustes</ion-label></div>
        </ion-item>

        <div class="center padding-top-10">
            <ion-item color="rose" style="margin-bottom: 2%;">
                <ion-icon name="ios-globe" style="zoom:1.0;"></ion-icon>
                <ion-label position="floating">Idioma</ion-label>
                <ion-textarea placeholder="Español" ></ion-textarea>             
            
          </ion-item></div>

        
                <div class="center padding-top-10">
                    <ion-item color="rose" style="margin-bottom: 2%;">
                    <ion-icon name="ios-beaker" style="zoom:1.0;"></ion-icon>
                    <ion-label position="floating" >Unidades</ion-label>
                    <ion-textarea placeholder="G:mg/dL,Distancia:Km,Peso:kg" ></ion-textarea>
                  </ion-item>
            </div> 

           <div class="center padding-top-10">
            <ion-item color="rose" style="margin-bottom: 2%;">
           <ion-icon name="md-time" style="zoom:1.0;"></ion-icon>
           <ion-label position="floating" >Formato de tiempo</ion-label>
           <ion-textarea placeholder="Horas" ></ion-textarea>               
            
          </ion-item></div>


          <div class="center padding-top-10">
            <ion-item color="rose" style="margin-bottom: 2%;">
           <ion-icon name="ios-phone-portrait" style="zoom:1.0;"></ion-icon>
           <ion-label position="floating" >En caso de emergencia</ion-label>
           <ion-textarea placeholder="6181132560" ></ion-textarea>            
            
          </ion-item></div>
          
          <div class="center padding-top-10">
            <ion-item color="rose" style="margin-bottom: 2%;">
           <ion-icon name="ios-pin" style="zoom:1.0;"></ion-icon>
           <ion-label >Localización GPS</ion-label>
           <button ion-item (click)="buttonClick()"></button>
                       
            
          </ion-item></div>
          

          <div class="center padding-top-10">
            <ion-item color="rose" style="margin-bottom: 2%;">
           <ion-icon name="ios-mail" style="zoom:1.0;"></ion-icon>
           <ion-textarea placeholder="Contáctenos" ></ion-textarea>               
            
          </ion-item></div>

          <div class="center padding-top-10">
            <ion-item color="rose" style="margin-bottom: 2%;">
           <ion-icon name="md-help" style="zoom:1.0;"></ion-icon>
           <ion-textarea placeholder="Preguntas Frecuentes" ></ion-textarea>               
            
          </ion-item></div>
          
          <div class="padding-top-30 center">
            <ion-button class="new-background">Guardar</ion-button>
          </div>
          
      </div>
      <div class="padding-top-30 center">
          <ion-button class="new-background">Guardar</ion-button>
        </div>
          

</ion-content>
