$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(255, 255, 255);

*{
    color: rgb(199, 28, 57);
}
body {
  font: 100% $font-stack;
  color: $primary-color;
}
.bold {
  font-weight: 550
}
.light {
  font-weight: 300
}
.new-background-color{
  --background: #A6ACAF;
  --background-hover: #A6ACAF;
}